{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="bg-primary rounded text-white m-3 mb-5 p-3">Modifier un utilisateur</h1>
        {{ form_start(form) }}
            <div class="form-group mb-2 ms-4 me-4">
                {{ form_label(form.email, 'Adresse e-mail') }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group ms-4 me-4">
                {{ form_label(form.roles, 'Rôles') }}
                {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group ms-4 me-4">
                {{ form_label(form.password, 'Mot de passe') }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn btn-primary text-white mt-3 ms-4">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
